body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
div.Zagolovok {
    width: 350px;
    color: blue;
    margin: auto;
    font-size: 22px;
    margin-bottom: 10px;
}
div.table table {
    border-collapse: collapse;
    width: 100%;
}
div.table table th, td {
    border: 2px solid black;
    padding: 4px;
}